main {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: .7em;
  }

body {
  padding: 0;
  margin: 0;
}

img {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 5px;
  left: 0
  top: 0
}

input {
  box-sizing: border-box;
  text-align: center;
  width:80%;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 15px;
}

div .login, .signup {
  text-align: center;
}

form .login {
  margin-top: 50%;
}

#username, #password, #rpt-password, #email  {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 1%;
  border: solid #94004a 1px;
  border-radius: 15px;
  width: 70%;
}

#username {
  margin-top: 50%;
}

#commentField {
  font-family: 'Raleway', sans-serif;
  border: solid rgba(148,0,74, 0.3) 1px;
  border-radius: 7px;
  width: 100%;
  padding: 7px;
}

.loginBtn, .createBtn {
  font-family: 'Raleway', sans-serif;
  width:50%;
  padding: 12px 20px;
  margin-top: 5%;
  border: solid #94004a 1px;
  border-radius: 15px;
  background-color: white;
}

.signupBtn, .backBtn {
  font-family: 'Raleway', sans-serif;
  width:40%;
  margin-top: 54%;
  padding: 4px 10px;
  border: solid #94004a 1px;
  border-radius: 15px;
  background-color: white;
}

#commentButton {
  font-family: 'Raleway', sans-serif;
  margin-top: 4px;
  width: 100%;
  border: none;
  background-color: white;
  text-align: right;

}

.backBtn {
  margin-top: 25%;
}

.pageHeader {
  color: #4a4a4a;
  display: inline-block;
  opacity: 0.8;
  z-index: 1;
  height: 8%;
  position: fixed;
}

.pageHeader, .pageFooter { /* .pageFooter, */
  width: 100%;
  background: #4a4a4a;
  z-index: 1;
  position: fixed;
  color: #94004a;
  /*-webkit-filter: blur(3px);*/
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.pageFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  height: 8%;
  bottom:0;
  position: fixed;
  opacity: 0.8;
}

.commentCount, .commentsShow, .flukeCount {
  color: #554b4b;
  font-weight: lighter;
}

.commentsShow {
  text-align: right;
  color:rgba(148,0,74, 0.3)
}

.commentCount {
  color: rgba(148,0,74, 0.5)
}

#user-name, .flukeCount {
  float: left;
  text-align: left;
  width: 50%;
}

#entry-date, .commentCount{
  float: right;
  text-align: right;
  width: 50%;
}



/*
.image-header{
  margin-top: 7%;
  margin-bottom: 12%;
}*/

#hideInput {
  width: 0;
  height: 0;
}

.remaining, .taken {
  display: none;
}

#f {
  z-index: 100;
  left: 4%;
  top: 20%;
margin: 3px;
}


div .entry {
  width: 80%;
  margin: 0 auto;
  z-index: 0;
}

i {
  font-size: 48px;
  color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder {
   color: #bca8af;
   font-size: 20px;
   font-family: 'Rajdhani', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bca8af;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bca8af;
}

:-ms-input-placeholder {
   color: #bca8af;
}
