body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
}

img {
  max-width: 90%;
  display: block;
  margin: auto;
  margin-top: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input {
  -webkit-appearance:none;
  box-sizing: border-box;
  text-align: center;
  width:80%;
  padding: 12px 20px;
  margin: auto;
  border: solid #eaeae9 5px;
  border-radius: 15px;
  box-sizing: border-box;
}

#username, #password {
  font-size: 25px;
  box-sizing: border-box;
  margin: auto;
  border: solid #eaeae9 5px;
  border-radius: 15px;
}


.loginBtn, .signupBtn {
  background-color: white;
  text-align: center;
  width:80%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 10vh;
  border: solid #eaeae9 5px;
  border-radius: 15px;
}

.login, .homediv {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.entries h2 {
  text-align: center;
}

.pageFooter {
  height: 8%;
  bottom:0;
  position: fixed;
}

.pageHeader {

  height: 10%;
  top:0;
  position: fixed;
}

.pageHeader h1 {
  text-align: center;
  display: inline-block;
}

.pageHeader, .pageFooter, .image-header {
  width: 100%;
  background-color: #940004a;
  background: rgba(248,80,50,1);
  background: background: -moz-linear-gradient(45deg,  #94004a 0%, #72224a 40%, #72224a 71%, #72224a 71%, #5b394a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #94004a 0%,#72224a 40%,#72224a 71%,#72224a 71%,#5b394a 100%); /*
  background: -moz-linear-gradient(45deg,  #94004a 0%, #72224a 40%, #72224a 71%, #72224a 71%, #5b394a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #94004a 0%,#72224a 40%,#72224a 71%,#72224a 71%,#5b394a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #94004a 0%,#72224a 40%,#72224a 71%,#72224a 71%,#5b394a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94004a', endColorstr='#5b394a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

background: -moz-linear-gradient(45deg,  #94004a 0%, #72224a 40%, #72224a 71%, #72224a 71%, #5b394a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #94004a 0%,#72224a 40%,#72224a 71%,#72224a 71%,#5b394a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #94004a 0%,#72224a 40%,#72224a 71%,#72224a 71%,#5b394a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94004a', endColorstr='#5b394a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


.image-header{
  margin-top: 7%;
  margin-bottom: 12%;
}

//MEDIA QUERIES
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* ----------- Galaxy S4 ----------- */
/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* ----------- Galaxy S5 ----------- */
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* ----------- HTC One ----------- */
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}
/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
