main {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: .7em;
  }

body {
  padding: 0;
  margin: 0;
}

img {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 5px;
  left: 0
  top: 0
}

input {
  box-sizing: border-box;
  text-align: center;
  width:80%;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 15px;
}

div .login, .signup {
  text-align: center;
}

form .login {
  margin-top: 50%;
}

hr {
  width: 100%;
}


#username, #password, #rpt-password, #email  {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 1%;
  border: solid #94004a 1px;
  border-radius: 15px;
  width: 70%;
}

#username {
  margin-top: 20%;
}

#noRefresh, #refresh {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    margin: 13px;
}

#commentField {
  font-family: 'Raleway', sans-serif;
  border: solid rgba(148,0,74, 0.3) 1px;
  border-radius: 7px;
  width: 100%;
  padding: 7px;
}

.loginBtn, .createBtn {
  font-family: 'Raleway', sans-serif;
  width:50%;
  padding: 12px 20px;
  margin-top: 5%;
  border: solid #94004a 1px;
  border-radius: 15px;
  background-color: white;
}

.signupBtn, .backBtn {
  font-family: 'Raleway', sans-serif;
  width:40%;
  margin-top: 20%;
  padding: 4px 10px;
  border: solid #94004a 1px;
  border-radius: 15px;
  background-color: white;
}

#commentButton {
  font-family: 'Raleway', sans-serif;
  margin-top: 4px;
  width: 100%;
  border: none;
  background-color: white;
  text-align: right;

}

.backBtn {
  margin-top: 25%;
}

.pageHeader { /* .pageFooter, */
  width: 100%;
  background: -moz-linear-gradient(143deg, rgba(137,11,74,1) 0%, rgba(137,11,74,1) 45%, rgba(62,24,43,1) 89%, rgba(44,28,36,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(44,28,36,1)), color-stop(11%, rgba(62,24,43,1)), color-stop(55%, rgba(137,11,74,1)), color-stop(100%, rgba(137,11,74,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(143deg, rgba(137,11,74,1) 0%, rgba(137,11,74,1) 45%, rgba(62,24,43,1) 89%, rgba(44,28,36,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(143deg, rgba(137,11,74,1) 0%, rgba(137,11,74,1) 45%, rgba(62,24,43,1) 89%, rgba(44,28,36,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(143deg, rgba(137,11,74,1) 0%, rgba(137,11,74,1) 45%, rgba(62,24,43,1) 89%, rgba(44,28,36,1) 100%); /* ie10+ */
  background: linear-gradient(307deg, rgba(137,11,74,1) 0%, rgba(137,11,74,1) 45%, rgba(62,24,43,1) 89%, rgba(44,28,36,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c1c24', endColorstr='#890b4a',GradientType=1 ); /* ie6-9 */
  height: 8%;
  z-index: 9;
  position: fixed;
  opacity: 0.8;


  /*-webkit-filter: blur(3px);*/
}

.pageFooter {
  width: 100%;
  background: #4a4a4a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  height: 8%;
  bottom:0;
  position: fixed;
  opacity: 0.8;
  background: -moz-linear-gradient(143deg, rgba(108,40,74,1) 0%, rgba(108,40,74,1) 45%, rgba(94,53,74,1) 89%, rgba(91,57,74,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(91,57,74,1)), color-stop(11%, rgba(94,53,74,1)), color-stop(55%, rgba(108,40,74,1)), color-stop(100%, rgba(108,40,74,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(143deg, rgba(108,40,74,1) 0%, rgba(108,40,74,1) 45%, rgba(94,53,74,1) 89%, rgba(91,57,74,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(143deg, rgba(108,40,74,1) 0%, rgba(108,40,74,1) 45%, rgba(94,53,74,1) 89%, rgba(91,57,74,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(143deg, rgba(108,40,74,1) 0%, rgba(108,40,74,1) 45%, rgba(94,53,74,1) 89%, rgba(91,57,74,1) 100%); /* ie10+ */
  background: linear-gradient(307deg, rgba(108,40,74,1) 0%, rgba(108,40,74,1) 45%, rgba(94,53,74,1) 89%, rgba(91,57,74,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b394a', endColorstr='#6c284a',GradientType=1 ); /* ie6-9 */
}

.commentCount, .commentsShow, .flukeCount {
  color: #554b4b;
  font-weight: lighter;
}

.commentsShow {
  text-align: right;
  color:rgba(148,0,74, 0.3)
}

.commentCount {
  color: rgba(148,0,74, 0.5)
}

#user-name, .flukeCount {
  float: left;
  text-align: left;
  width: 50%;
}

#entry-date, .commentCount{
  float: right;
  text-align: right;
  width: 50%;
}

#hideInput {
  width: 0;
  height: 0;
}

.shots-remaining {
text-align: center;
}

.remaining, .taken {
  border-radius: 100%;
  display: inline-block;
  padding: 10px;
  width: .2px;
  height: .2px;
  margin: 0 5px;
}

.remaining {
  background-color: #94004a;
  opacity: 0.4;
}

.taken {
   border: solid 1px #94004a;
 }

div .entry {
  width: 80%;
  margin: 0 auto;
  z-index: 0;
}

#f {
  font-size: 9px;
  font-weight: lighter;
}

i {
  font-size: 36px;
  color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder {
   color: #bca8af;
   font-size: 20px;
   font-family: 'Rajdhani', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bca8af;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bca8af;
}

:-ms-input-placeholder {
   color: #bca8af;
}


#app {
  max-width: 100%;
}


@media (min-width: 650px) {
  .homediv {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #username {
    margin-top: 12%;
  }

  .signupBtn, .backBtn {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .createBtn {
    margin-top: 3%;
  }

  .loginBtn, .signupBtn, .backBtn, .createBtn, #username, #password, #rpt-password, #email {
    max-width: 40%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1000px) {
  .homediv {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .loginBtn, .signupBtn, .backBtn, .createBtn, #username, #password, #rpt-password, #email {
    max-width: 30%;
    margin-left: 20%;
    margin-right: 20%;

  }
}
